.plantCard {
    --marginAvatar: 15px;
    --avatarSide: 50px;
    height: 80px;
    width: 100%;
    background: var(--grey-00);
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    transition: background 300ms;
    position: relative;
}

.plantCard:hover {
    cursor: pointer;
    background: var(--grey-0);
}

.plantCard .avatar {
    position: relative;
    display: inline-block;
    margin: var(--marginAvatar);
}

.plantCard__info {
    height: 50px;
    position: relative;
    display: inline-block;
    padding-right: var(--marginAvatar);
    min-width: 250px;
}

.plantCard__name {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding-bottom: 6px;
}

.plantCard__stats {
    position: relative;
    height: 22px;
    line-height: 22px;
}

.plantCard__stats .plantCard__data:nth-child(n + 2) {
    margin-left: 8px;
}

.plantCard__data {
    width: 75px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: var(--grey-3);
}

.plantCard__data .name{ display: none; }

.plantCard__data .value{ display: none; }

.plantCard__data .material-icons { font-size: 20px; }