.todoListCmpt {
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue2);
    padding: 10px 20px 10px 20px;
}

.todoListCmpt > * + * {
    margin-top: 15px;
}