<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StoreName" value="Store Movie" />
      <add key="ItemByPage" value="10" />
      <add key="PremierRange" value="15"/>
      <add key="CsvFolder" value="C:\Movie"/>
      <add key="CsvFile" value="\movies.csv"/>
    </appSettings>
</configuration>