.timePickerUpDown {
  float: left;
  font-size: var(--font-size-xl);
  color: var(--secondary-2);
}

.timePickerUpDown * {
  user-select: none;
}

.timePickerUpDown .wrapper {
  float: left;
  display: flex;
}

.timePickerUpDown .wrapper .colon {
  display: flex;
  padding: 0 8px 0 8px;
  justify-content: center;
  align-items: center;
}
