.App {
  text-align: center;
  height: 100%;
  width: 100%;
  --blue00:rgb(206, 226, 255);
  --blue0:rgb(174, 206, 255);
  --blue1:rgb(151, 192, 255);
  --blue2:rgb(130, 180, 255);
  --blue3:rgb(96, 145, 219);
  --gray-blue: rgb(157, 182, 219);
  --grey00: rgb(247, 247, 247);
  --grey1: rgb(228, 228, 228);
  --grey2: rgb(173, 173, 173);
  --grey3: rgb(136, 136, 136);
  --white: rgb(254, 254, 254);
  --green: rgb(122, 224, 122);
  --red: rgb(255, 113, 113);
  --yellow: rgb(255, 190, 49);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
