.dashboardView {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.dashboardView > * {
    box-sizing: border-box;
}

.dashboardView .gradeCardCmpt {
    margin: 10px;
}

.toolbar { 
    height: 80px;
    width: 100%;
    background-color: var(--blue3);
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 28px;
}

.content {
    height: calc(100% - 80px);
    width: 100%;
}

.content > * {
    float: left;
    background-color: var(--white);
}

.sidenavbar {
    background-color: var(--gray-blue);
    height: 100%;
    width: 250px;
}

.sidenavbar .entry {
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 25px;
}

.sidenavbar .entry.active {
    background-color: var(--blue3);
    opacity: 0.7;
}

.display {
    height: 100%;
    padding: 25px;
    width: calc(100% - 250px);
    background-color: var(--white);
    overflow-y: auto;
    background-color: rgb(250, 236, 114);
}
/* HEADER */
.display .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rebeccapurple;
}
.display .header img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid transparent;
}
/* BODY */
.display .body {
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 20px;
}
.dummy-view, .gradesSummaryView {
    height: 240px;
    width: 605px;
    border: 1px solid black;
    display: block;
}