body, html {
    height: 100vh;
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
}

.card {
    height: 50px;
    width: 100%;
    background-color: green;
}

@media (max-width: 768px) {
    .card {background-color: red;}
}

@media (max-width: 500px) {
    .card {background-color: blue;}
}

