.gradesView {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.gradesView > * {
    box-sizing: border-box;
}

.gradesView .gradeCardCmpt {
    margin: 10px;
}

.toolbar { 
    height: 80px;
    width: 100%;
    background-color: var(--blue3);
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 28px;
}

.content {
    height: calc(100% - 80px);
    width: 100%;
}

.content > * {
    float: left;
    background-color: var(--white);
}

.sidenavbar {
    background-color: var(--gray-blue);
    height: 100%;
    width: 220px;
}

.sidenavbar .entry {
    height: 60px;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 25px;
}

.sidenavbar .entry.active {
    background-color: var(--blue3);
    opacity: 0.7;
}


.display {
    height: 100%;
    width: calc(100% - 220px);
    background-color: var(--white);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
}