.gradePillCmpt {
    --radius: 14px;
    height: 28px;
    width: 100%;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border: 1px solid var(--grey1);
}

.gradePillCmpt .grade {
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    line-height: calc(2 * var(--radius));
    border-radius: var(--radius);
}

.gradePillCmpt .title {
    max-width: calc(100% - calc(4 * var(--radius)));
    margin-left: var(--radius);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}