HTML, body  {
    height: 100vh;
    width: 100vw;
    --grey00: rgb(255, 255, 255);
    --grey0: rgb(233, 233, 233);
    --grey1: rgb(201, 201, 201);
    --grey2: rgb(170, 170, 170);
    --grey3: rgb(124, 124, 124);

    --default-border: 1px solid var(--grey3);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 64px;
    width: 100%;
    background: var(--grey1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
}

.header .option {
    width: 100px;
    text-align: center;
}

.header .option-group {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-group .app-options {
    display: flex;
    justify-content: center;
}

.app-options > .option + .option {
    border-left: var(--default-border);
}

.header .user-info {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: var(--default-border);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey1);
}

.main-content {
    height: calc(100% - 64px);
    background: var(--grey0);
    display: flex;
}

.main-content .navbar {
    width: 220px;
    height: 100%;
    background-attachment: fixed;
    background: var(--grey2);
}

.navbar .option {
    width: 100%;
    height: 48px;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .members > .avatar + .avatar {
    margin-left: -10px;
}

.navbar > .option + .option {
    border-top: var(--default-border);
}

.navbar > .option > .members {
    display: flex;
}

.team-list {
    width: 320px;
}

.team-list .list {
    display: flex;
    flex-direction: column;
    border: var(--default-border);
}

.list > .list-entry {
    height: 64px;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--grey00);
}

.team-list .list > .list-entry + .list-entry {
    border-top: var(--default-border);
}

.list-entry > * {
    float: left;
}

.list-entry .name {
    height: 100%;
    width: 218px;
    line-height: 52px;
    text-align: center;
    font-size: 24px;
}

.list-entry .program {
    width: 84px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.list-entry .avatar {
    height: 26px;
    width: 26px;
}

.list-entry h5 {
    height: 26px;
    width: 58px;
    text-align: center;
    line-height: 26px;
}

.team-list > h3 {
    display: inline-block;
    margin-bottom: 8px;
}

.display {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}


.option-group .avatar {
    user-select: none;
    cursor: pointer;
}


.navbar {
    transition: left 250ms ease;
}

.navbar.visible {
    left: 0;
}

.navbar {
    position: relative;
    left: -500px;
}

@media (max-width: 768px) {

    .display {
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: red;
    }

    .display > .team-list + .team-list {
        margin-top: 25px;
    }
    
    .navbar {
        position: fixed;
        top: 64px;
        z-index: 1000;
    }

    .navbar.visible::after {
        content: '';
        background-color: black;
        opacity: 0.3;
        position: fixed;
        top: 64px;
        height: calc(100% - 64px);
        width: 100%;
        z-index: 500;
    }

}