.customButton {
  transform: all ease 0.3ms;
}

.funnyFrist { transform: translate(50px, 320px); }
.funnySecond { transform: translate(20px, 120px); }
.funnyThird { transform: translate(80px, 220px); }