.PortalLayout {
    height: 100%;
    width: 100%;
}

.PortalLayout > * {
    float: left;
}

.menu {
    width: 250px;
    height: 100%;
    background: rgb(255, 146, 106);
}

.menu > .entry {
    background: coral;
    width: 100%;
    height: 40px;
}

.menu > .entry a {
    display: flex;
    align-items: center;
    padding-left: 25px;
    user-select: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.menu > .entry:hover {
    opacity: 0.8;
    cursor: pointer;
}

.viewDisplay {
    height: 100%;
    width: calc(100% - 250px);
    background: rgb(191, 147, 236);
}