html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

* {
    box-sizing: content-box;
}

.btn {
    position: absolute;
    width: 120px;
    height: 35px;
    background: green;
    transition: width 700ms, height 700ms, background 700ms 300ms;
    animation-name: btnAround;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.btn:active {
    background: red;
    width: 150px;
    height: 45px;
}

@keyframes btnAround {
    0% { top: 0%; left: 0%; }
    25% { top: 0%; left: calc(100% - 120px); }
    50% { top: calc(100% - 35px); left: calc(100% - 120px); }
    75% { top: calc(100% - 35px); left: 0; }
    100% { top: 0; left: 0; }
}