<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="shipmentType" value="Custom"/>
    <add key ="categoryName" value="Any"/>
    <add key ="oneTimeCharge" value="3.0"/>
    <add key ="perOverweightSurcharge" value="5.0"/>
    <add key ="perItemCharge" value="3.0"/>
  </appSettings>
</configuration>