html, body {
  height: 100%;
  width: 100%;

  --grey-00: rgb(255, 255, 255);
  --grey-0: rgb(235, 235, 235);
  --grey-1: rgb(200, 200, 200);
  --grey-2: rgb(170, 170, 170);
  --grey-3: rgb(140, 140, 140);
  --grey-3: rgb(105, 105, 105);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}