.portalLayoutCmpt {
    height: 100%;
    width: 100%;
    --portal-menu-width: 220px;
}

.portalLayoutCmpt > * {
    float: left;
}

.portalLayoutCmpt .menu {
    width: var(--portal-menu-width);
    height: 100%;
}

.portalLayoutCmpt .menu a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 8px 8px 8px 16px;
}

.portalLayoutCmpt .display {
    height: 100%;
    width: calc(100% - var(--portal-menu-width));
}