.guideView {
  height: 100%;
  width: 100%;
}

.guideView * {
  box-sizing: border-box;
}

.guideView > * {
  position: relative;
  float: left;
}

.guideView .sidenavMenuCmpt {
  height: 100%;
  width: 280px;
  background-color: indianred;
}

.guideView .sidenavMenuCmpt .header {
  padding: 44px;
  text-align: center;
}

.guideView .display {
  height: 100%;
  width: calc(100% - 280px);
  background-color: rgb(255, 214, 214);
  padding: 20px;
}

.guideView button { 
  position: absolute;
  cursor: pointer;
}

.guideView #btn1 { bottom: 30px; left: 20px; }

.guideView #btn2 { top: 30px; right: 50px; }

.guideView #btn3 { top: 380px; left: 350px; }

.guideView #btn4 {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  border: 1px solid grey;
  line-height: 28px;
  text-align: center;
  bottom: 28px;
  right: 28px;
}